/* @tailwind base;
@tailwind components;
@tailwind utilities; */
* {
    margin: 0px;
    padding: 0px;

}

p {
    margin-top: 0;
    margin-bottom: 0em;
}

body {
    margin: 0px;
    /* border: 2px solid black; */
}

#main-container::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #f0aede, rgb(201, 115, 235));
    z-index: -1;
    opacity: 0.6;
}

#main-container {
    /* border: 2px solid black; */
    height: auto;
    /* margin: 20px 50px 5px 50px; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    z-index: 0;
}

#main-header {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#main-header h1 {
    font-size: 40px;
    margin: 0px;
    margin-left: 80px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#main-header h1:hover {
    text-shadow: 2px 2px 2px white;
}

#main-header img {
    width: 70px;
    height: auto;
    margin-right: 80px;
}

#main-header img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#content {
    height: auto;
    border: 3px solid white;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 0px 50px 20px 50px;
    ;
}

#content .box {
    /* border: 2px solid blue; */
    /* padding: 20px 10px 20px 10px; */
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

/* Box-1 */
#box-1left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */


}

#content #box-1 form {
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    /* border: 2px solid red; */
}

#content #box-1 form h3 {
    font-size: 20px;
    padding-top: 0px;
    text-align: center;
    /* border: 2px solid red; */
    margin: 0px;
}

#content #box-1 form #inputt {
    border-radius: 7px;
    width: 150px;
    height: 30px;
    font-size: 17px;
    /* border: 2px solid red; */
    text-align: center;
    align-self: center;
    border: none;
}

#content #box-1 form #inputt:hover {
    border: 1px solid black;

}

#content #box-1 form select {
    border-radius: 7px;
    border: none;
    height: 30px;
    width: 150px;
    font-size: 17px;
    /* border: 2px solid red; */
    text-align: center;
}

#content #box-1 form select:hover {
    border: 1px solid black;


}

#content #box-1 button {
    font-size: 17px;

    border-radius: 7px;
    border: none;
    width: 150px;
    height: 30px;
    text-align: center;
}

#content #box-1 div button {
    border-radius: 7px;
    border: none;
    width: 250px;
    height: 30px;
    text-align: center;
    background-color: #195789;
    color: white;
    font-size: 17px;
    padding: 5px;
    cursor: pointer;
}

#content #box-1 div button:hover {
    cursor: pointer;
    border: 1px solid black;
    transform: scale(1.05);
}

/* Box-2 */
#content #box-2 {
    display: flex;
}

#content #box-2 #sufi {
    /* border: 2px solid red; */
    width: 30%;
    display: flex;
    padding: 10px 10px 15px 10px;
}

#content #box-2 #sufi h3 {
    margin: 0px;
    font-size: 20px;
    padding-top: 2.5px;
    text-align: center;
    /* border: 2px solid red; */
}

#content #box-2 select {
    border-radius: 7px;
    border: none;
    font-size: 17px;
    height: 30px;
    width: 150px;
    text-align: center;
    margin-left: 27px;
}

#content #box-2 select:hover {
    border: 1px solid black;
}

/* Box-3 */
#content #box-3 {
    vertical-align: top;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: fit-content; */
    align-items: stretch;
    margin-top: 12px;
}
#content #box-3 #empty {
    border: 3px solid white;
    border-radius: 5px;
    margin-left: 520px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 30px black,-2px -2px 30px black;
}
#content #box-3 #empty h1{
    margin: 0px;
}
#content #box-3 #empty img{
    margin: 0px;
    margin-top: 10px;
}
#content #box-3 #empty h3{
    margin: 0px;
}
#content #box-3 img {
    width: 70px;
    height: auto;
    margin-right: 80px;
}
#content #box-3 .taskbar {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    border: none;
    width: 19%;
    /* border: 2px solid green; */
    text-align: center;
}

.taskbar h2 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 8px;
    color: white;
    /* text-shadow: 2px 2px 2px black; */
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0px;
    font-size: 20px;
}

#taskbar-1 h2 {
    background-color: grey;
}

#taskbar-2 h2 {
    background-color: orange;
}

#taskbar-3 h2 {
    background-color: green;
}

#taskbar-4 h2 {
    background-color: rgb(10, 10, 107);
}

#taskbar-5 h2 {
    background-color: tomato;
}


.taskbar>section>div {
    display: flex;
    /* min-height: 100px; */
    align-items: stretch;
    background-color: rgb(245, 243, 243);
    border-radius: 5px;
    margin: 15px 9px;
    flex-direction: column;
    padding: 5px 5px;
    /* border: 2px solid red; */

}

.taskbar>section>div:hover {
    background-color: rgb(236, 232, 232);

}

/* First box */
.taskbar div header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
    /* border: 2px solid red; */
    padding: 10px 2px 10px 10px;

}

/* Heading of first box */
.taskbar div header h3 {
    font-weight: bold;
    margin: 0px;
    /* border: 2px solid red; */

}

/* Right icon of first box */
.taskbar div header p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #195789;
    color: white;
    width: 30px;
    height: 22px;
    padding: 2px;

    border-radius: 3px;
    border: none;

    text-align: center;
    font-size: 15px;
    cursor: pointer;
    /* border: 2px solid red; */


}

.taskbar div #description {
    text-align: justify;
    min-height: 80px;
    padding: 10px;
    /* height: 25px; */
    /* border: 2px solid red; */


}

/* Assignee and button BOX */
.taskbar div div {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    padding: 2px 2px 2px 10px;
}

/* Assignee Name */
.taskbar div div p {
    font-size: 16px;
    /* border: 2px solid red; */
}

/* Assignee Box- button */
.taskbar div div button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #195789;
    color: white;
    width: 25px;
    height: 22px;
    padding: 2px;

    border-radius: 3px;
    border: none;

    text-align: center;
    font-size: 15px;
    cursor: pointer;

}

/* Last status botton */
.taskbar div #status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;

    border-radius: 3px;
    border: none;

    background-color: #195789;
    color: white;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
}

/* Modal */
/* Background color change */
.result-modal::backdrop {
    background: rgba(0, 0, 0, 0.85);
}

/* Modal box on opening */
dialog[open] {
    display: flex;
    position: fixed;
    width: 23%;
    height: 69%;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    box-shadow: 10px 10px 40px black, -10px -10px 40px black;
}

/* Form inside of modal box */
#formm {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 502px;
    width: 344.613px;
}

/* Form header. */
#formm-header {
    padding: 25px;
    height: 10%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Form header title */
#formm-header h2 {
    font-weight: 700;
    font-size: 20px;
    margin: 0px;
}

/* Cross Inside of form header */
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1.8px solid black;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cross {
    position: relative;
    width: 50%;
    height: 50%;
}

.line {
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: #000000;
    top: 50%;
    left: 50%;
    transform-origin: center;
}

.line:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
}

.line:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.circle:hover {
    cursor: pointer;
    transform: rotate(20deg);
}

/* form body background */
#formm-body::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #f0aede, rgb(201, 115, 235));
    z-index: -1;
    opacity: 0.6;
}

/* Form Body */
#formm-body {
    position: relative;
    height: 80%;
    /* border: 2px solid greenyellow; */

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.formm-body-items {
    /* border: 2px solid blue; */
    padding: 0px 25px 0px 25px;
}

.formm-body-items input {
    margin-top: 7px;
    /* border: 2px solid red; */
    width: 100%;
    height: 28px;
    border-radius: 5px;
    background-color: rgb(210, 207, 207);
    border: 1px solid grey;
}
.formm-body-items textarea{
    margin-top: 7px;
    /* border: 2px solid red; */
    width: 100%;
    height: 48px;
    border-radius: 5px;
    background-color: rgb(210, 207, 207);
    border: 1px solid grey;

}

/*Priority button */
.formm-body-items #priority {
    margin-left: 10px;
    width: 55px;
    text-align: center;
    border-radius: 3px;
    height: 25px;
}

/* Completed or not in edit modal */
.formm-body-items #status {
    margin-left: 10px;
    width: 110px;
    text-align: center;
    border-radius: 3px;
    height: 25px;
}

/* Form Footer */
#formm-footer {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#formm-footer input {
    margin-right: 20px;
    border-radius: 3px;
    border: none;
    width: 70px;
    height: 25px;
    text-align: center;
    background-color: #195789;
    color: white;
    font-size: 17px;
    padding: 2px;
    cursor: pointer;
}

#formm-footer input:hover {
    transform: scale(1.05);
}

#formm-footer button {
    margin-right: 10px;
    border-radius: 3px;
    border: none;
    width: 70px;
    height: 25px;
    text-align: center;
    background-color: #195789;
    color: white;
    font-size: 17px;
    padding: 2px;
    cursor: pointer;
}

#formm-footer button:hover {
    transform: scale(1.05);
}


:where(.css-dev-only-do-not-override-42nv3w).ant-picker {
    height: 32px;
    box-sizing: border-box;
    margin: 0;
    padding: 0px 11px 0px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    position: relative;
    display: inline-flex;
    align-items: center;
    border-radius: 6px;
    transition: border 0.2s, box-shadow 0.2s, background 0.2s;
}

.ant-picker:hover {
    border: 1px solid black;

}